<!DOCTYPE html>
<html lang="es">
<head>
  <style>
    body { background-color: #A9A9A9; }
  </style>
  <meta charset="utf-8">
  <title>HOME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
 
<h1 align="center"> Hello </h1>
<h2 align="center"> This is the welcome page </2>
<h2 align="center"> This project is MO-technologies back-end technical test  </h2>
<h3 align="center"  > The pokemon in database are:  </h3>

{% for i in po %}
    <p align="center"> {{i }}
    </p>
    
{% endfor %}


</body>
</html>



