<!DOCTYPE html>
<html lang="es">
<head>
  <style>
   body { background-color: #A9A9A9; }
   img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  </style>
  <meta charset="utf-8">
  <title>Information</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
 

<h1 align="center"> Information </h1>

<img align="center" src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.id}}.png" alt="Not Found ", style="width:50px;height:60px;">

<p>
</p>
<p>
</p>
<p>
</p>
<table align="center" border="1">
  <caption>pokemon information</caption>
  <tbody>   
    <tr>
      <td></td>
      <th>Name</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Pokemon id </th>
      <th>Evolution </th>
    </tr>
    <tr>
      <th> </th>
      <td>{{pokemon.name}}</td>
      <td>{{pokemon.height}}</td>
      <td>{{pokemon.weight}}</td>
      <td>{{pokemon.id}}</td>
      <td>{{pokemon.evolution}}</td>
      
    </tr>
 
  </tbody>
</table>
<p>
</p>
<p>
</p>
<p>
</p>
<table align="center" border="1">
  <caption>stats information</caption>
  <tbody>  
       <tr>
      <td></td>
      <th>stats</th>
      <th>base stat</th>
      <th>effort </th>
    </tr>

    
    {% for i in pokemon.base_stats %}
    <tr>
    <th> </th>
    <td > {{i.stat }}</td>
    <td >{{i.base_stat }}</td>
    <td >{{i.effort }}</td>
    </tr>
    {% endfor %}
    

  </tbody>
</table>

</body>
</html>
